<article class="card mb-3">
  <div class="card-body">
    <p>{{this.origin}}</p>
    <p>{{this.shortURL}}</p>

    <a href="/eliminar/{{this._id}}" class="btn btn-danger">Eliminar</a>
    <a href="/editar/{{this._id}}" class="btn btn-warning">Editar</a>
    <button data-short={{this.shortURL}} class="btn btn-primary">Copiar</button>
  </div>
</article>
{{!-- <article class="card mb-3">
  <div class="card-body">
    <p>{{item.origin}}</p>
    <p>{{item.shortUrl}}</p>

    <a href="#" class="btn btn-danger">Eliminar</a>
    <a href="#" class="btn btn-warning">Editar</a>
    <a href="#" class="btn btn-primary">Copiar</a>
  </div>
</article> --}}